# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env

# Vendor directory (if not using go modules)
# vendor/

# Debug files
__debug_bin

*.crt
*.pem
*.env
/config/*.crt
/config/*.pem
